<div class='card'>
  <h2>{{name}}</h2>
  <img src='{{image}}' />
  <p>{{description}}</p>
  <div class='card-details'>
    <p><em><strong>Language level:</strong> {{languageLevel}}</em></p>
    <p><em><strong>Type of resource:</strong> {{medium}}</em></p>
    <p><em><strong>Cost:</strong> {{cost}}</em></p>
  </div>
  <a href='{{url}}'>Visit site
    <i class='fa-solid fa-arrow-up-right-from-square'></i></a>
</div>